streamlit==1.31.1
extra-streamlit-components==0.1.70
psycopg2-binary==2.9.9
sqlalchemy==2.0.20
# uncomment to use huggingface llms
# huggingface-hub==0.14.1

# uncomment to use instructor embeddings
# InstructorEmbedding==1.0.1
# sentence-transformers==2.2.2